h1 {
    text-align: center;
    margin-bottom: 30px;
}

.flexParts {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.infosPerso, .suivi, .options, .paiement {
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;   
}

.infosPerso, .suivi, .optionsPaiement {
    width: 30%;
}

.options {
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.bouton {
    width: 300px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: black 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 12px 32px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}

.bouton:hover {
    font-weight: 600;
    background-color: #f0f0f0;
}

.boutons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px;
}

.bold {
    margin-top: 20px;
    margin-bottom: 10px;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.privateRoom {
    grid-column: 1 / 4 ;
    grid-row: 1;
}

.wifi {
    grid-column: 1 / 4 ;
    grid-row: 2;
}

.TV {
    grid-column: 1 / 4 ;
    grid-row: 3;
}

.regime1 {
    grid-column: 1 / 4 ;
    grid-row: 4;
}

.regime2 {
    grid-column: 1 / 4 ;
    grid-row: 5;
}

.regimeAutre {
    grid-column: 1 / 4 ;
    grid-row: 6;
}

.regimeChoice {
    grid-column: 4/8 ;
    grid-row: 6;
}

/* Confirmation */
.confirmation {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 50%;
    margin: 30px auto;
    align-items: center;
}

.passwordConfirmation {
    margin: 30px;
    width: 70%;
}