h1 {
    text-align: center;
}

.prescription {
    border: solid black 1px;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
}

.bouton {
    width: 500px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: black 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 12px 32px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    align-items: center;
}

.bouton:hover {
    font-weight: 600;
    background-color: #f0f0f0;
}


h3 {
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 10px;
}