/* Global */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.bouton {
    width: 300px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: solid black 1px;
    border-radius: 10px;
    padding: 12px 32px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
}

.bouton:hover {
    font-weight: 600;
    background-color: #f0f0f0;
}

.module {
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    margin: 30px auto;
    text-align: center;
}

/* Specialist */

.autocomplete {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px;
    position: relative;
    align-items: flex-start;

}

.wrapper {
    position: relative;
    width: 50%;
}

.wrapper input {
    width: 100%;
}

#suggestionsQui {
    list-style: none;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 0;
    margin: 0;
}
#suggestionsQui li {
    padding: 8px;
    cursor: pointer;
}
#suggestionsQui li:hover {
    background-color: #f0f0f0;
}

#suggestionsQui:empty {
    display: none;
}

/* Results */

.gridAddress {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 5px;
}

.icon {
    justify-self: center;
}

/* Add */

.gridForm {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 5px;
    text-align: left;
}

.gridDispo {
    display:grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    text-align: left;
}

.gridAM {
    grid-column: 3/5;
    margin-bottom: 5px;
    margin-top: 20px;
}

.gridPM {
    grid-column: 5/7;
    margin-bottom: 5px;
    margin-top: 20px;
}

/* Change */

ul {
    margin-left: 30px;
    text-align: left;
}

#treatments {
    display: flex;
    align-items: center;
}

#treatments li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.deleteButton {
    border: none;
    background-color: white;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.deleteButton img {
    height: 100%;
    width: 100%;
}

.wrapperTreatment {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapperCenter {
    position: relative;
    width: 100%;
}

.wrapperCenter input {
    width: 100%;
}

.wrapperTreatment input {
    width: 90%;
}

#suggestionsTreatment, #suggestionsCenter {
    list-style: none;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 0;
    margin: 0;
}
#suggestionsTreatment li, #suggestionsCenter li {
    padding: 8px;
    cursor: pointer;
}
#suggestionsTreatment li:hover, #suggestionsCenter li:hover {
    background-color: #f0f0f0;
}

#suggestionsTreatment:empty, #suggestionsCenter:empty{
    display: none;
}

.addButton {
    border: none;
    background-color: white;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.addButton img {
    height: 100%;
    width: 100%;
}