/* Header admin */
.headerAdmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 0.5px;
}

.companyLogo img {
  max-width: 300px;
  margin: 20px 20px 20px 50px;
}

.headerAdminLinks {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  gap: 40px;
  font-size: 1.1rem;
  margin: 20px 50px 20px 20px;
  align-items: center;
}

.headerAdminLinks a {
  color: black;
}

.headerAdminLinks a:hover {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 10px;
}

.headerAdminLinks a:last-child {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerAdminLinks button {
  color: black;
}

.headerAdminLinks button:hover {
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 10px;
  cursor: pointer;
}

.headerAdminLinks button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: white;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
}

.icon {
    max-width: 30px;
}