h1 {
    text-align: center;
    margin-bottom: 30px;
}

.module {
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: 30px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.boutonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.bouton {
    width: 300px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: black 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 12px 32px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.bouton:hover {
    font-weight: 600;
    background-color: #f0f0f0;
}

.recherche {
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
}

.champsRecherche {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    position: relative;
}

.champsRecherche a {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.autocomplete {
    position: relative;
}

#suggestionsQui, #suggestionsOu {
    list-style: none;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 0;
    margin: 0;
}
#suggestionsQui li, #suggestionsOu li {
    padding: 8px;
    cursor: pointer;
}
#suggestionsQui li:hover, #suggestionsOu li:hover {
    background-color: #f0f0f0;
}

#suggestionsQui:empty, #suggestionsOu:empty {
    display: none;
}

.autocomplete input {
    width: 100%;
    height: 100%;
}