h1 {
    text-align: center;
    margin-bottom: 30px;
}

.module {
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: 30px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.boutonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.bouton {
    width: 300px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: black 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 12px 32px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.bouton:hover {
    font-weight: 600;
    background-color: #f0f0f0;
}