h1 {
    text-align: center;
    margin-bottom: 30px;
}

.module {
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px;
    max-width: 700px;
    margin: 30px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.bouton {
    width: 300px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: black 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 12px 32px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

.bouton:hover {
    font-weight: 600;
    background-color: #f0f0f0;
}

h3 {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.sousModule {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

.traitHorizontal {
    width: 1px;
    height: 100px;
    border:solid black 1px;
}

.label, .input {
    text-align: center;
}

.shortField {
    width: 30%;
}

.boutonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
}

fieldset {
    padding: 20px;
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 10px;
}