.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.image img {
    border-radius: 10px;
    max-height: 700px;
}

.form {
    margin: 30px;
}
fieldset {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border-color: black;
  border-radius: 10px;
}

legend {
  padding: 0px 5px;
}

.submitButton {
  width: 150px;
  text-decoration: none;
  color: black;
  background-color: white;
  border: black 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 12px 32px;
  font-size: 1em;
  cursor: pointer;
}

.submitButton:hover {
  font-weight: 600;
  background-color: #f0f0f0;
}

.shortField {
  width: 80%;
  height: 20px;
}

.longField {
  width: 90%;
  height: 20px;
}

.contactName {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contactField {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

label {
  display: block;
  padding-bottom: 4px;
}

textarea {
  width: 90%;
}
