/* Index */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    position: relative;
    width: 95%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    aspect-ratio: 16 / 9;
    background-color: #000;
    min-height: 400px
}

.carouselImages {
    display: flex;
    transition: transform 0.6s ease;
    width: 100%;
    height: 100%;
}

.carouselImages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.prev, .next { 
    display: none;
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

.becomeMember h1 {
    text-align: right;
}

.memberPrivileges {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    text-align: center;
}

.memberPrivileges img {
    margin-top: 10px;
    max-width: 50%;
}