.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connexion {
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 30%;
    padding: 20px;
    margin-bottom: 30px;
}

.register {
    border: solid black 1px; 
    border-radius: 10px;
    min-width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

input {
    margin: 10px 0px;
}

.forgotPassword {
    text-align: right;
    font-size: 0.8rem;
}

.button {
    width: 250px;
    text-decoration: none;
    color: black;
    background-color: white;
    border: black 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 12px 32px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    display: block;
    margin: 30px auto;
}

.button:hover {
    font-weight: 600;
    background-color: #f0f0f0;
    justify-content: center;
}

li {
    margin-left: 20px;
}

.legend {
    font-size: 0.8em;
}

.registration {
    max-width: 600px;
    align-items: flex-start;
    margin: 30px auto;
    border: black solid 1px;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 20px auto;
}

.bold {
    margin-top: 10px;
}

.field {
    min-width: 70%;
}

.confirmation {
    border: black solid 1px;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 30px auto;
}

.password {
    border: solid black 1px;
    border-radius: 10px;
    max-width: 40%;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
}

.emailConfirmation {
    margin-top: 0px;
    margin-bottom: 40px;
}